<header class="site-header">
  <link rel="icon" type="image/png" href="{{ '/assets/images/favicon.png' | relative_url }}">
  <div class="container header-inner">
    <h1 class="site-title"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
    <nav class="site-nav">
      <a href="{{ '/' | relative_url }}">Home</a>
      <a href="{{ '/resources/' | relative_url }}">Resources</a>
      <a href="{{ '/blog/' | relative_url }}">Blog</a>
      <a href="{{ '/shellcode/' | relative_url }}">Shellcode</a>
      <a href="{{ '/assembly/' | relative_url }}">Assembly</a>
    </nav>
  </div>
</header>
